@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root {
    --bg: rgb(26, 28, 31);
    --bg-highlight: rgb(42, 45, 50);
    --bg-shadow: rgb(8, 9, 10);
    --fg: rgb(230, 230, 230);
    --fg-darker: rgb(150, 150, 150);
    --accent: rgb(196, 177, 32);
    --theme: rgb(17, 76, 194);

    font-size: 14px;
}
@media (min-width: 3000px) {
    :root {
        font-size: 32px;
    }
}
@media (max-width: 1200px) {
    :root { 
        font-size: 14px; 
    }
}
@media (max-width: 400px) {
    :root { 
        font-size: 12px;
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

* {
    margin: 0;
    color: var(--fg);

    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--theme);
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

input {
    background-color: var(--bg);
    color: var(--fg);
    border-radius: .2rem;
    border: 1px solid var(--fg-darker);
    line-height: 1.2rem;
    padding: .4rem;
}

input[type]:focus {
    outline: none;
    border-color: var(--theme) !important;
}

input:invalid,
:out-of-range {
    border-color: var(--red);
}

.small {
    font-size: .8rem;
}

.large {
    font-size: 1.5rem;
}

.medium {
    font-size: 1.2rem;
}

.container > * {
    margin: 1%;
}

.container > div {
    width: 98%;
    height: 98%;
}

.framed {
    border-radius: .5rem;
    background-color: var(--bg);
    box-shadow: -5px -5px 10px 1px var(--bg-highlight), 
                 5px  5px 10px 1px var(--bg-shadow);
}