:root {
    --bg: rgb(20,20,30);
    --fg: rgb(250, 250, 250);
    --chartWidth: 70vw;
    --chartHeigth: 60vh;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

div {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
}

.container {
    margin: 2vh 1vw;
}

.framed {
    border: 1px solid var(--fg);
    border-radius: 8px;
}

#pricePanel {
    width: var(--chartWidth);
    height: 5vh;
}

#chartPanel { 
    width: var(--chartWidth); 
    height: var(--chartHeigth);
    padding-bottom: 5px;
}

#txnPanel {
    width: var(--chartWidth); 
    height: 20vh;
}
