@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root {
    --bg: rgb(15, 17, 35);
    --bg-dark: rgb(10, 10, 20);
    --fg: rgb(230, 230, 230);
    --fg-darker: rgb(120, 120, 120);
    --accent: rgb(196, 177, 32);
    --theme: rgb(66, 71, 145);
}

body {
    background-color: var(--bg-dark);
    color: var(--fg);
}

* {
    margin: 0;
    color: var(--fg);

    font-family: 'Rajdhani', sans-serif;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

.container > * {
    margin: 1%;
}

.container > div {
    width: 98%;
    height: 98%;
}

.framed {
    border-radius: .5rem;
    background-color: var(--bg);
}
