:root {
    --chart-bg: rgb(25, 25, 40);
    --chart-fg: var(--fg);
}
  
#price-chart, #y-axis, #x-axis, #leftover {
    /* TODO: remove margin(?) between canvases */
    background-color: var(--chart-bg);
    border: 1px solid var(--chart-fg);
}