#PopupMsg-main {
    --PopupMsg-width: 18rem;
    --PopupMsg-height: 2.4rem;
    --icon-size: 1.8rem;

    visibility: hidden;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    z-index: 3;

    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.6);

    width: var(--PopupMsg-width);
    height: var(--PopupMsg-height);
    padding: .8rem .9rem;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: var(--icon-size) calc(var(--PopupMsg-width) - var(--icon-size) - .6rem);
    gap: .6rem;

    -webkit-transition: height .4s ease-out;
    -moz-transition: height .4s ease-out;
    -o-transition: height .4s ease-out;
    -ms-transition: height .4s ease-out;
    transition: height .4s ease-out;
}
#PopupMsg-main:hover {
    height: calc(2 * var(--PopupMsg-height));

    -webkit-transition: height .4s ease-out;
    -moz-transition: height .4s ease-out;
    -o-transition: height .4s ease-out;
    -ms-transition: height .4s ease-out;
    transition: height .4s ease-out;
}

#PopupMsg-main > svg {
    width: var(--icon-size);
    height: var(--icon-size);
    align-self: center;
}

#success-icon {
    fill: var(--green);
}
#error-icon {
    fill: var(--red);
}

#PopupMsg-main > div > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#success {
    color: var(--green);
}
#error {
    color: var(--red);
}


/* animations */

.show-popupMsg {
    -webkit-animation: ascend-in .4s ease-out;
    -moz-animation: ascend-in .4s ease-out;
    -ms-animation: ascend-in .4s ease-out;
    -o-animation: ascend-in .4s ease-out;
    animation: ascend-in .4s ease-out;
}

.hide-popupMsg {
    -webkit-animation: descend-out .4s ease-in;
    -moz-animation: descend-out .4s ease-in;
    -ms-animation: descend-out .4s ease-in;
    -o-animation: descend-out .4s ease-in;
    animation: descend-out .4s ease-in;
}

@-webkit-keyframes ascend-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: none;
    }
}
@-moz-keyframes ascend-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: none;
    }
}
@-o-keyframes ascend-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: none;
    }
}
@-ms-keyframes ascend-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: none;
    }
}
@keyframes ascend-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: none;
    }
}

@-webkit-keyframes descend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(100%);
    }
}
@-moz-keyframes descend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(100%);
    }
}
@-o-keyframes descend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(100%);
    }
}
@-ms-keyframes descend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes descend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(100%);
    }
}
