/* background */
#signin-main,
#signup-main {
    --signin-width: 25rem;
    --signin-height: 20rem;
    --signup-width: 25rem;
    --signup-height: 24.5rem;

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .7);
}

#signin-popup,
#signup-popup {
    position: absolute;
    z-index: 2;
    padding: 1rem;

    border-radius: .5rem;
    box-shadow: none;
}

#signin-popup {
    top: calc(50% - (var(--signin-height) / 2) - 1rem);
    left: calc((50% - (var(--signin-width)) / 2) - 1rem);

    width: var(--signin-width);
    height: var(--signin-height);
}

#signup-popup {
    top: calc(50% - (var(--signup-height) / 2) - 1rem);
    left: calc((50% - (var(--signup-width)) / 2) - 1rem);

    width: var(--signup-width);
    height: var(--signup-height);
}

#signinClose-btn,
#signupClose-btn {
    margin: .5rem;
    margin-bottom: -2rem;
    float: right;
}

#signinClose-btn:hover,
#signupClose-btn:hover {
    fill: var(--theme);
}

#signin-form,
#signup-form {
    --margin: 2rem;
    margin: calc(var(--margin) - 1rem) var(--margin) var(--margin);
    width: calc(100% - (2 * var(--margin)));
    height: calc(100% - (2 * var(--margin)));

    display: grid;
    grid-template-columns: 5rem auto;
    gap: 2rem .5rem;

    align-items: center;
}

#signin-form {
    grid-template-rows: 3rem 1.5rem 1.5rem 2rem 1rem;
}

#signup-form {
    grid-template-rows: 3rem 1.7rem 1.7rem 1.7rem 1.7rem 2rem;
}

#signin-heading,
#signup-heading {
    grid-column: span 2;

    width: 6rem;
    margin: .5rem auto;
    text-align: center;

    color: var(--accent);
}

input[name='pwConfirm'] {
    margin-top: -2rem;
}

#signin-btn,
#signup-btn {
    grid-column: span 2;

    height: 2rem;

    background-color: var(--theme);
    color: var(--fg);
}

#signup-btn {
    margin-top: -1rem;
}

/* forgot password */
#signin-form > a {
    grid-column: span 2;

    text-align: center;
    color: var(--fg-darker);
}


/* animations */

.show-signinupMain {
    -webkit-animation: fade-in .4s ease-out;
    -moz-animation: fade-in .4s ease-out;
    -ms-animation: fade-in .4s ease-out;
    -o-animation: fade-in .4s ease-out;
    animation: fade-in .4s ease-out;
}

.hide-signinupMain {
    -webkit-animation: fade-out .2s ease-in;
    -moz-animation: fade-out .2s ease-in;
    -ms-animation: fade-out .2s ease-in;
    -o-animation: fade-out .2s ease-in;
    animation: fade-out .2s ease-in;
}

.show-signinupPopup {
    -webkit-animation: descend-in .4s ease-out;
    -moz-animation: descend-in .4s ease-out;
    -ms-animation: descend-in .4s ease-out;
    -o-animation: descend-in .4s ease-out;
    animation: descend-in .4s ease-out;
}

.hide-signinupPopup {
    -webkit-animation: ascend-out .2s ease-in;
    -moz-animation: ascend-out .2s ease-in;
    -ms-animation: ascend-out .2s ease-in;
    -o-animation: ascend-out .2s ease-in;
    animation: ascend-out .2s ease-in;
}

@-webkit-keyframes descend-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: none;
    }
}
@-moz-keyframes descend-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: none;
    }
}
@-o-keyframes descend-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: none;
    }
}
@-ms-keyframes descend-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: none;
    }
}
@keyframes descend-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: none;
    }
}

@-webkit-keyframes ascend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(-100%);
    }
}
@-moz-keyframes ascend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(-100%);
    }
}
@-o-keyframes ascend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(-100%);
    }
}
@-ms-keyframes ascend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes ascend-out {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(-100%);
    }
}
