:root {
    --pricePanelHeight: 2rem;
    --chartHeight: 60%;
    --txnWidth: 70%; /* price width */

    --green: rgb(20, 180, 140);
    --red: rgb(250, 70, 90);
}
@media (max-width: 900px) {
    :root { 
        --chartHeight: 40%;
        --txnHeight: 35%;
        --txnWidth: 65%; /* price width */
    }
}

#trading-main {
    height: 98vh;
    min-width: 300px;
    max-width: 100vh;
    min-height: 600px;
    margin: auto;
}

#trading-grid {
    display: grid;
    grid-template-columns: var(--txnWidth) auto;
    grid-template-rows: var(--pricePanelHeight) var(--chartHeight) auto;
    gap: 1rem;
}
@media (max-width: 900px) {
    #trading-grid {
        grid-template-rows: var(--pricePanelHeight) var(--chartHeight) var(--txnHeight) auto;
    }
}



/* price-panel */

#price-panel {
    grid-row: 1;
    grid-column: 1;
}

#price-heading {
    color: var(--accent);
}

#price-heading,
#price-heading > span {
    font-size: var(--pricePanelHeight);
}

#price-heading .green {
    color: var(--green);
}

#price-heading .red {
    color: var(--red);
}



/* menu-panel */

#menu-panel {
    grid-row: 1;
    grid-column: 2;
}

#menu-grid {
    display: grid;
    grid-template-columns: auto 2.5rem;
    place-items: center right;
}

#orders-btn {
    grid-column: 1;
    background: none;
    border: none;
    border-radius: .3rem;
    padding: .4rem .8rem;
}

#orders-btn:hover {
    color: var(--accent);
}

#dropdown-menu {
    position: relative;
    display: inline-block;
    grid-column: 2;
}

.visible {
    display: block !important;
}

#menu-btn {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#menu-btn:hover {
    fill: var(--accent);
}

#menu-list {
    display: none;
    position: absolute;
    min-width: 8rem;
    z-index: 1;

    background-color: var(--bg);
    border: 1px solid var(--fg-darker);
    border-radius: .4rem;
}

#menu-list > a,
#menu-list > button {
    display: block;
    margin: .8rem;
    padding: 0;

    background: none;
    border: none;
    text-decoration: none;
}

#menu-list > a:hover,
#menu-list > button:hover {
    color: var(--accent);
}



/* chart-panel */

#chart-panel { 
    grid-row: 2;
    grid-column: 1 / span 2;
}
@media (max-width: 900px) {
    #chart-panel {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
}



/* txn-panel (transaction) */

#txn-panel {
    grid-row: 3;
    grid-column: 1;

    padding: .6rem;

    /* grid */
    display: grid;
    grid-template-columns: 14% auto;
}
@media (max-width: 900px) {
    #txn-panel {
        grid-row: 3;
        grid-column: 1 / span 2;
        grid-template-columns: 50% 50%;
        grid-template-rows: 3rem auto;
    }
}

#buy-btn, 
#sell-btn {
    background-color: var(--bg);
    border-radius: .5rem;
    font-weight: 500;

    padding: 0;
    border: 1px solid var(--fg-darker);
    color: var(--fg-darker);

    /* TODO: add animation for clicking */
}

#buy-btn {
    margin-bottom: .3rem;
}

#buy-btn.selected {
    color: var(--green);
    border-color: var(--green);
}

#sell-btn {
    margin-top: .3rem;
}

#sell-btn.selected {
    color: var(--red);
    border-color: var(--red);
}

#order-form {
    grid-row: 1 / span 2;
    grid-column: 2;

    /* grid */
    display: grid;
    grid-template-columns: 6rem auto;
    grid-template-rows: auto 15% 30% 15%;
    row-gap: .8rem;

    width: 93%;
    height: 90%;
    margin: auto;
}
@media (max-width: 900px) {
    #order-form {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
}

#order-form > label {
    place-self: center left;
}

#orderTypes-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: .5rem;
    place-items: center;
    width: 100%;
    max-width: 350px;
    justify-self: right;
}

.orderType-btn {
    width: 100%;
    min-height: 2.5rem;
    font-size: 1rem;

    background-color: var(--bg);
    color: var(--fg-darker);
    border-color: var(--fg-darker);
    border-radius: .3rem;
    border: 1px solid;
}

.orderType-btn.selected {
    color: var(--fg);
    border-color: var(--accent);
}

@media (min-width: 501px) {
    .orderType-btn {
        min-width: 7rem;
    }
}

#orderPrice-grid, 
#orderAmount-grid {
    display: grid;
    grid-template-columns: auto 4rem;
    align-items: center;
    margin-left: 1rem;
}

#marketPrice {
    text-align: right;
    font-style: italic;
}

#orderAmount-grid {
    margin-bottom: .5rem;
}

.name {
    text-align: center;
    color: var(--fg-darker);
}

.value {
    text-align: right;
}

input[type=number] {
    width: 100%;
    max-width: 300px;
    justify-self: right;
    padding: 5px;

    color: var(--bg);
    border-radius: .2rem;
    border: none;
}

#order-btn {
    grid-column: 1 / span 2;
    color: var(--bg);
    border: none;
    border-radius: .3rem;
}

#order-btn.green {
    background-color: var(--green);
}

#order-btn.red {
    background-color: var(--red);
}



/* balance-panel */

#balance-panel {
    grid-row: 3;
    grid-column: 2;

    padding: .6rem;
}
@media (max-width: 900px) {
    #balance-panel {
        grid-row: 4;
        grid-column: 1 / span 2;
    }
}

#balance-panel > * {
    margin: .5rem;
}

#balance-heading {
    text-align: center;
    color: var(--accent);
}

#balance-grid {
    display: grid;
    grid-template-columns: 25% auto;
    row-gap: .5rem;
    max-width: 180px;
    height: calc(100% - 4.5rem);
    margin: auto;
}

@media (max-width: 900px) {
    #balance-grid {
        max-width: 300px;
    }
    #BTCWallet-grid {
        display: grid;
        grid-template-columns: auto auto;
    }
}

#balance-grid > * {
    align-self: center;
}
