:root {
    --pricePanelHeight: 2rem;
    --chartHeight: 60%;
    --txnWidth: 70%; /* price width */

    --green: rgb(0, 133, 78);
    --red: rgb(179, 52, 67);
}
@media (max-width: 900px)  and (orientation: portrait){
    :root { 
        --chartHeight: 40%;
        --txnHeight: 35%;
        --txnWidth: 20rem; /* price width */
    }
}

#trading-main {
    height: 98vh;
    min-width: 300px;
    max-width: 900px;
    min-height: 600px;
    margin: auto;
}
@media (min-width: 3000px) {
    #trading-main {
        max-width: 2000px;
    }
}

#trading-grid {
    display: grid;
    grid-template-columns: var(--txnWidth) auto;
    grid-template-rows: var(--pricePanelHeight) var(--chartHeight) auto;
    gap: 2rem;
}
@media (max-width: 900px)  and (orientation: portrait){
    #trading-grid {
        grid-template-rows: var(--pricePanelHeight) var(--chartHeight) var(--txnHeight) auto;
    }
}



/* price-panel */

#price-panel,
#menu-panel {
    margin-top: .5rem;
}

#price-panel {
    grid-row: 1;
    grid-column: 1;
}

#price-heading {
    color: var(--accent);
    line-height: var(--pricePanelHeight);
}

#price-heading,
#price-heading > span {
    font-size: var(--pricePanelHeight);
}

#price-heading .green {
    color: var(--green);
}

#price-heading .red {
    color: var(--red);
}



/* menu-panel */

#menu-panel {
    grid-row: 1;
    grid-column: 2;
}

#menu-grid {
    display: grid;
    grid-template-columns: auto 2.5rem;
    place-items: center right;
    column-gap: .3rem;
}

#orders-btn {
    grid-column: 1;
    background-color: var(--bg);
    border: 1px solid var(--accent);
    padding: .2rem .8rem .1rem;
}

#orders-btn:hover {
    border-color: var(--theme);
    background-color: var(--bg-dark);
}

#dropdown-menu {
    position: relative;
    display: inline-block;
    grid-column: 2;
}

.visible {
    display: block !important;
}

#menu-btn {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#menu-btn:hover {
    fill: var(--theme);
}

#menu-list {
    position: absolute;
    top: calc(var(--pricePanelHeight) + .4rem);
    right: 0;
    display: none;
    min-width: 8rem;
    z-index: 1;

    background-color: var(--bg);
    border: 1px solid var(--fg);
    border-radius: .3rem;
}

#menu-list > * {
    display: block;
    margin: .5rem auto;
    padding: 0;

    background: none;
    border: none;

    text-align: center;
    text-decoration: none;
}

#menu-list > p {
    color: var(--accent);
}

#menu-list > button {
    box-shadow: none;
}

#menu-list > button:hover {
    color: var(--theme);
}



/* chart-panel */

#chart-panel { 
    grid-row: 2;
    grid-column: 1 / span 2;
}
@media (max-width: 900px)  and (orientation: portrait){
    #chart-panel {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
}



/* txn-panel (transaction) */

#txn-panel {
    grid-row: 3;
    grid-column: 1;

    padding: 1.5rem;
}
@media (max-width: 900px)  and (orientation: portrait){
    #txn-panel {
        grid-row: 3;
        grid-column: 1 / span 2;
    }
}

#order-form {
    grid-row: 1 / span 2;
    grid-column: 2;

    width: 98%;
    height: 100%;
    margin: auto;

    /* grid */
    display: grid;
    grid-template-columns: 4rem repeat(3, calc((100% - 4rem - (.5rem * 3)) / 3));
    grid-template-rows: 2rem 2rem 2rem 2rem;
    gap: calc((100% - 8rem) / 3) .5rem;
}
@media (max-width: 900px)  and (orientation: portrait){
    #order-form {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
}

#order-form > * {
    align-self: center;
}

#order-form > label {
    justify-self: left;
}

#orderTypes-grid {
    --text-width: 6rem;
    --gap: 1rem;

    grid-column: span 3;
    width: 100%;

    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(3, calc((100% - (2 * var(--gap))) / 3));
    place-items: center;

    border-radius: 2rem;
    box-shadow: inset -2px -2px 5px 1px var(--bg-highlight),
                inset  2px  2px 5px 1px var(--bg-shadow);
}

.orderType-btn {
    min-height: 2rem;
    width: 100%;
    max-width: calc(var(--text-width) + 3rem);

    background: none;
    color: var(--fg-darker);

    box-shadow: none;
}

.orderType-btn:hover {
    color: var(--fg);
}

.orderType-btn.selected {
    background-color: var(--bg);
    color: var(--fg);
    box-shadow: 2px  2px 5px 1px var(--bg-shadow);
    border: 1px solid var(--fg-darker);
}

#marketPrice {
    text-align: right;
    font-style: italic;
}

.name {
    text-align: center;
    color: var(--fg-darker);
}

#order-form .name {
    margin-left: .2rem;
    text-align: left;
}

.value {
    text-align: right;
}

#order-form > .value {
    box-sizing: border-box;
    grid-column: span 2;
}

input[type=number] {
    width: 100%;
    text-align: right;
}

#orderAmountUSD-grid {
    display: grid;
    place-items: center;
}

#amountUnit {
    margin-right: auto;
}

#amountUSD {
    grid-column: 2 / span 2 !important;
    margin-left: auto;
}

#amountUSDUnit {
    grid-column: 4;
}

#orderBtns-grid {
    grid-column: 1 / span 4;

    height: 2rem;

    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

#buy-btn {
    border-color: var(--green);
    background-color: var(--green);
}

#sell-btn {
    border-color: var(--red);
    background-color: var(--red);
}




/* balance-panel */

#balance-panel,
#balance-panel-alt {
    grid-row: 3;
    grid-column: 2;

    padding: .6rem;
}
@media (max-width: 900px)  and (orientation: portrait){
    #balance-panel,
    #balance-panel-alt {
        grid-row: 4;
        grid-column: 1 / span 2;
    }
}

#balance-panel > * {
    margin: .5rem;
}

#balance-heading {
    text-align: center;
    color: var(--accent);
}

#balance-grid {
    display: grid;
    grid-template-columns: 25% auto;
    row-gap: .5rem;
    max-width: 180px;
    height: calc(100% - 4.5rem);
    margin: auto;
}
@media (min-width: 3000px) {
    #balance-grid {
        max-width: 360px;
    }
}
@media (max-width: 900px)  and (orientation: portrait){
    #balance-grid {
        max-width: 300px;
    }
    #BTCWallet-grid {
        display: grid;
        grid-template-columns: auto auto;
    }
}

#balance-grid > * {
    align-self: center;
}

#balance-panel-alt {
    display: grid;
    padding: 20%;
    place-items: center;
}
@media (max-width: 900px)  and (orientation: portrait){
    #balance-panel-alt {
        padding: 5% 20%;
    }
}

#balance-panel-alt > button {
    display: block;
    margin: auto;
    padding: .3rem;
    width: 100%;

    border: 1px solid var(--theme);
    background-color: var(--theme);
    color: var(--fg);

    text-align: center;
}

#balance-panel-alt > button:hover {
    background-color: var(--bg);
}
