#transaction-main {
    grid-row: 3;
    grid-column: 1;
}
@media (max-width: 900px)  and (orientation: portrait){
    #transaction-main {
        grid-row: 3;
        grid-column: 1 / span 2;
    }
}

#order-form {
    grid-row: 1 / span 2;
    grid-column: 2;

    height: 100%;

    /* grid */
    display: grid;
    grid-template-columns: 4rem repeat(3, calc((100% - 4rem - (.5rem * 3)) / 3));
    grid-template-rows: repeat(4, 2rem);
    gap: 2rem .5rem;
    place-content: center;
}
@media (max-width: 900px)  and (orientation: portrait){
    #order-form {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
}

#order-form > * {
    align-self: center;
}

#order-form > label {
    grid-column: 1;
    justify-self: left;
}

#orderTypes-grid,
#lvrgRatios-grid    {
    --text-width: 6rem;

    grid-column: span 3;
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    place-items: center;

    border-radius: 2rem;
    box-shadow: inset -2px -2px 5px 1px var(--bg-highlight),
                inset  2px  2px 5px 1px var(--bg-shadow);
}

#lvrgRatios-grid {
    --text-width: 3rem;
    grid-template-columns: repeat(4, 25%);
}

.orderType-btn, 
.lvrgRatio-btn   {
    min-height: 2rem;
    width: calc(var(--text-width) + 3rem);

    background: none;
    color: var(--fg-darker);
    border-radius: 2rem;

    box-shadow: none;
}

.orderType-btn:active, 
.lvrgRatio-btn:active   {
    filter: none;
    box-shadow: none;
}

.orderType-btn.selected:hover, 
.lvrgRatio-btn.selected:hover   {
    filter: none;
}

/* leftmost */
#orderType-0   {
    margin-left: -25%;
}
#lvrgRatio-0 {
    margin-left: -30%;
}
#lvrgRatio-1 {
    margin-left: -10%;
}
#lvrgRatio-2 {
    margin-right: -10%;
}
/* rightmost */
#orderType-2  {
    margin-right: -25%;
}
#lvrgRatio-3 {
    margin-right: -30%;
}
@media (max-width: 900px)  and (orientation: portrait) {
    .orderType-btn, 
    .lvrgRatio-btn   {
        width: calc(var(--text-width) + 1rem);
    }
    #orderType-0,
    #lvrgRatio-0   {
        margin-left: 0;
    }
    #orderType-2
    #lvrgRatio-3  {
        margin-right: 0;
    }
}

.orderType-btn:hover,
.lvrgRatio-btn:hover   {
    color: var(--fg);
}

.orderType-btn.selected,
.lvrgRatio-btn.selected   {
    background-color: var(--bg);
    color: var(--fg);
    box-shadow: 2px  2px 5px 1px var(--bg-shadow);
    border: 1px solid var(--fg-darker);
}

#marketPrice {
    padding: .2rem 1rem;
    border: 1px solid var(--fg-darker);
    border-radius: 2rem;

    text-align: right;
    font-style: italic;

    box-shadow: -2px -2px 3px 1px var(--bg-highlight),
                 2px  2px 3px 1px var(--bg-shadow);
}

.name {
    text-align: center;
    color: var(--fg-darker);
}

#order-form .name {
    margin-left: .2rem;
    text-align: left;
}

.input-grid {
    grid-column: 2 / span 2;

    display: grid;
    align-items: center;
    grid-template-columns: calc(100% - 3rem) 2.5rem;
    gap: .5rem;
}

.value {
    text-align: right;
}

#order-form > .value {
    box-sizing: border-box;
}

input[type=number] {
    text-align: right;
}

#orderAmountUSD-grid {
    display: grid;
    place-items: center;
}

#amountUnit {
    margin-right: auto;
}

#amountUSD {
    grid-column: 2 / span 2 !important;
    margin-left: auto;
}

#amountUSDUnit {
    grid-column: 4;
}

#orderBtns-grid {
    grid-column: 1 / span 4;

    height: 2rem;

    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

#buy-btn {
    background-color: var(--green);
}

#sell-btn {
    background-color: var(--red);
}